import init.asus.rc
import init.asus.sdcard.rc
import init.asus.asdf.rc
import init.asus.usb.rc

on fs
    mount_all /fstab.sparrow

on boot
    # Set up kernel tracing, but disable it by default
    write /sys/kernel/debug/tracing/tracing_on 0

    # disable network time update
    setprop config.disable_networktime true

on post-fs-data
    insmod /system/lib/modules/sentral-iio.ko

service bugreport /system/bin/dumpstate -d -p -B \
        -o /data/data/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot

service clockwork_proxy /system/bin/ClockworkProxy
    class main

service dhcpcd_bt-pan /system/bin/dhcpcd -BKLG
    class late_start
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

on property:ro.build.type=user
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/asusdata /factory ro remount
