on init
	# Support legacy paths
  symlink /sdcard /mnt/sdcard
  symlink /sdcard /storage/sdcard0

on post-fs-data
	# we will remap this as /mnt/sdcard with the sdcard fuse tool
	mkdir /data/media 0770 media_rw media_rw
	chown media_rw media_rw /data/media
